version: '2.4'

services:
  graph:
    build:
      context: ./graph
      dockerfile: Dockerfile
    container_name: lilac-graph
    networks:
      - network
    image: lilac-graph-image
    volumes:
      - ./graph:/app
    tty: true
    stdin_open: true
    # 개발 단계에서는 아래처럼 무한 대기시키고, 배포 때는 실제 실행 명령으로 바꿉니다.
    command: tail -f /dev/null

networks:
  network:
    driver: bridge
