version: '2.4'

services:
  graph:
    build:
      context: ./graph
      dockerfile: Dockerfile
    container_name: lilac-graph
    networks:
      - network
    image: lilac-graph-image
    volumes:
      - ./graph:/app
    tty: true
    stdin_open: true
    command: tail -f /dev/null
  mmembed:
    build:
      context: ./mmembed
      dockerfile: Dockerfile
    container_name: lilac-mmembed
    image: lilac-mmembed-image
    networks:
      - network
    shm_size: '16gb'
    volumes:
      - ./mmembed:/app
      - ./mmembed/hf_models:/root/.cache/huggingface
    environment:
      - MODEL_PATH=nvidia/MM-Embed
      - HF_HOME=/root/.cache/huggingface
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    tty: true
    stdin_open: true

networks:
  network:
    driver: bridge
