version: '2.4'

services:
  lilac-crawler:
    build:
      context: ./crawler
      dockerfile: Dockerfile
    container_name: lilac-crawler
    networks:
      - lilac_network
    image: lilac-crawler-image
    volumes:
      - ./crawler:/app
    tty: true
    stdin_open: true
    # 개발 단계에서는 아래처럼 무한 대기시키고, 배포 때는 실제 실행 명령으로 바꿉니다.
    command: tail -f /dev/null

networks:
  lilac_network:
    driver: bridge
