version: '2.4'

services:
  graph:
    build:
      context: ./graph
      dockerfile: Dockerfile
    container_name: lilac-graph
    networks:
      - network
    image: lilac-graph-image
    volumes:
      - ./graph:/app
    tty: true
    stdin_open: true
    command: tail -f /dev/null
  mmembed:
    build:
      context: ./mmembed
      dockerfile: ./Dockerfile
    container_name: lilac-mmembed
    networks:
      - network
    image: lilac-mmembed-image
    runtime: nvidia
    shm_size: '16gb'
    volumes:
      - ./mmembed:/app
      - ./mmembed/hf_models:/root/.cache/huggingface
    environment:
      - MODEL_PATH=nvidia/MM-Embed
      - HF_HOME=/root/.cache/huggingface
    tty: true
    stdin_open: true

networks:
  network:
    driver: bridge
